@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Zilla Slab', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --color-bodybackground: oklch(0.9713 0.0055 3.34);
    --color-text-brown: oklch(0.5591 0.0948 54.27);
    --color-cta-orange: oklch(0.669 0.1397 32.81);
    --color-cta-hover: oklch(0.586 0.152 41.06);
    --color-background-green: oklch(0.5581 0.0458 172.46);
    --color-input-grey: oklch(0.8853 0 0);

    --text-h2-desktop: 2.5rem;
    --text-h2: 1.4rem;

    --shadow-general: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

    --radius-button: .5rem;
    --radius-card: 1rem;

}
